.admin-notice-list {
  padding: 25px 32px; /* ⬇️ 살짝 줄임 */
  font-family: 'Pretendard', sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

@media (min-height: 0px) {
  .admin-notice-list {
    margin-top: 40px;
  }
}

@media (min-height: 800px) {
  .admin-notice-list {
    margin-top: 0px;
  }
}

/* ✅ 제목 */
.admin-notice-list h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 0 0 18px 0;
}

.admin-notice-header {
  display: flex;
  justify-content: space-between;
}

.admin-notice-add {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
}

/* 열 고정 (게시물 8열 기준) */
.admin-notice-list th:nth-child(1),
.admin-notice-list td:nth-child(1) { width: 6%; }

.admin-notice-list th:nth-child(2),
.admin-notice-list td:nth-child(2) { width: 6%; }

.admin-notice-list th:nth-child(3),
.admin-notice-list td:nth-child(3) { width: 40%; }

.admin-notice-list th:nth-child(4),
.admin-notice-list td:nth-child(4),
.admin-notice-list th:nth-child(5),
.admin-notice-list td:nth-child(5) { width: 12%; }


/* ✅ 제목 말줄임 표시 */
.admin-notice-list td:nth-child(3),
.admin-notice-list th:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-notice-list td:nth-child(3) {
  cursor: help;
}
