.admin-main {
  display: flex;
  align-items: center;       /* 수직 중앙 */
  justify-content: center;   /* 수평 중앙 */
  min-height: 90vh;
  padding: 0;
  background-color: #fafafa;
  overflow: hidden;
}

.admin-layout {
  display: flex;
  min-height: 90vh;
}

.admin-sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 12px;
}

.admin-sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.admin-sidebar a:hover {
  text-decoration: underline;
}

.admin-content {
  flex: 1;
  padding: 40px;
  background: #f8f9fa;
}
  