.admin-user-list {
  margin-left: 40px;
  margin-right: 40px;
}


/* 번호~전화번호까지 고정 */
.admin-user-list th:nth-child(1),
.admin-user-list td:nth-child(1) { width: 6%; }
.admin-user-list th:nth-child(2),
.admin-user-list td:nth-child(2) { width: 20%; }
.admin-user-list th:nth-child(4),
.admin-user-list td:nth-child(4) { width: 15%; }
.admin-user-list th:nth-child(5),
.admin-user-list td:nth-child(5) { width: 10%; }
.admin-user-list th:nth-child(6),
.admin-user-list td:nth-child(6) { width: 10%; }
