#header {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(216, 184, 253); */
  background-color: rgb(216, 184, 253);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

#header.hidden {
  transform: translateY(-100%);
}

#header.visible {
  transform: translateY(0);
}

.header-container {
    width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-box {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.header-logo {
    color: rgba(0, 0, 0, 1);

    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.header-logo:hover {
    color: rgba(0, 0, 0, 1);

    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.header-route-box {
    display: flex;
    gap: 75px;
    justify-content: space-between;
    align-items: center;
}

.header-route {
    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;

    cursor: pointer;
}

.header-route:hover {
    color: rgba(0, 0, 0, 1);

    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0px;
}

.header-right-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-search-input-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 43px;
    padding: 0 10px 0 12px;

    width: 223px;
    height: 30px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.header-search-input {
    flex: 1;

    border: none;
    background: none;
    outline: none;

    color: rgba(0, 0, 0, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

