#board-top-wrapper {
    padding: 100px 0 50px;

    display: flex;
    justify-content: center;
    background-color: #f2daff;
    
}

.board-top-container {
    width: 1200px;
    min-width: 1200px;
    background-color: white;
    padding: 20px 20px 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.board-top-title {
    color: rgba(0, 0, 0, 1);

    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-weight: 140%;
    letter-spacing: -0.8px;

    white-space: pre-wrap;
}

.board-top-contents-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.board-top-slide-item {
  width: 100%; /* 또는 auto, 필요시 강제 width 설정 */
  padding: 0 8px;
  box-sizing: border-box;
}

.board-top-contents-title {
    color: rgba(0, 0, 0, 1);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.slick-list {
    background: none;
}

.board-top-contents {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: space-between;
    gap: 24px; */
}

#board-bottom-wrapper {
    padding: 0 0 40px;

    display: flex;
    justify-content: center;
    background-color: #f2daff;
}

.board-bottom-container {
    width: 1200px;
    min-width: 1200px;
    background-color: white;
    padding: 20px 20px 40px 40px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.board-bottom-devider {
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    height: 19px;
}

.board-bottom-title {
    color: rgba(0, 0, 0, 0.7);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.board-bottom-contents-box {
    width: 100%;

    display: grid;

    grid-template-columns: 8fr 4fr;
    gap: 24px;
}

.board-bottom-current-contents {
    position: relative;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;

    gap: 16px;
}

.board-bottom-write-content-button {
    position: absolute;

    top: -5%;
    right: 0;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.board-bottom-popular-box {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.board-bottom-side-card {
    width: 100%;
    height: 76px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);

    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.board-bottom-side-card:hover {
    opacity: 0.8;
}

.board-bottom-side-container {
    display: flex;
    align-items: center;

    gap: 6px;
}

.board-bottom-side-text {
    color: rgba(0, 0, 0, 1);

    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.board-bottom-popular-card {
    padding: 24px;

    background-color: rgba(255, 255, 255, 1);

    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);

}

.board-bottom-popular-card-box {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.board-bottom-popular-card-title {
    color: rgba(0, 0, 0, 1);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.board-bottom-popular-card-contents {
    display: flex;
    flex-wrap: wrap;

    gap: 12px;
}

.board-bottom-pagination-box {
    margin-top: 60px;

    display: flex;
    justify-content: center;
}